<%- include("header"); -%>

<h2>
  waefuhbhnjdkmawbdncjndkdhfsefhekefefg eajygfaefh kef haekg a,ef hexkfwxeygf
  ,wfh ekxjfhwaek gWFHFHWHKFHU
</h2>

<P>WFJUSCG HFD kfha,kf fjbs sbb</P>

<%- include("footer"); -%>

    